apiVersion: operators.coreos.com/v1alpha1
kind: Subscription
metadata:
  labels:
    operators.coreos.com/topology-aware-lifecycle-manager.openshift-operators: ""
  name: topology-aware-lifecycle-manager
  namespace: openshift-operators
spec:
  channel: {{ operator_channel }}
  installPlanApproval: Automatic
  name: topology-aware-lifecycle-manager
  source: {{ catalog_source }}
  sourceNamespace: openshift-marketplace
